{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load customed_tags %}

{% block title %}about me{% endblock title %}

<!--{ % block cssjs1 %}-->
<!--<link href="{ % static 'css/bootstrap.css' %}" rel="stylesheet">-->
<!--{ % endblock cssjs1 %}-->

{% block main %}
  <div class="container-fluid" style="word-break: break-all; font-size: 18px;">
    <div class="row">
      <div id="main-left" class="col-xs-offset-1 col-xs-8">

        <div id="an_article" class="row" style="background-color: #fff; min-height: 600px;">
          <div class="col-xs-12">

            <h1 class="">About me</h1>

            <div class="col-xs-12" style="margin-bottom: 20px; border-bottom: 1px solid #dededc;"></div>

            <div class="content" style="min-height: 380px;">
              <pre>
I'm needle.
欢迎访问本人的博客! ^^
bala, 
bala!
              </pre>
              <h4>联系方式:</h4>
              <ul>
                <li>github: @...</li>
                <li>google: @...</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock main %}

<!--{ % block cssjs2 %}-->
<!--<script src="{ % static 'js/jquery.js' %}"></script>-->
<!--<script src="{ % static 'js/bootstrap.js' %}"></script>-->
<!--<script src="{ % static 'js/customed.js' %}"></script>-->
<!--{ % endblock cssjs2 %}-->
