{% extends "base.html" %}

{% load static %}
{% load humanize %}
<!--{ % load customed_tags %}-->

{% block title %}博客首页{% endblock title %}

<!--{ % block cssjs1 %}-->
<!--<link href="{ % static 'css/bootstrap.css' %}" rel="stylesheet">-->
<!--{ % endblock cssjs1 %}-->

{% block main %}
  <div class="main" style="margin-left: 50px;margin-right: 50px;">
    <div class="container-fluid" style="word-break: break-all;">
      <div class="row">
        <div id="main-left" class="col-xs-8" style="min-height: 800px;">

          {% for a_article in article_list %}
          <div id="an_article" class="row" style="background-color: #eee; border-radius: 4px; margin-bottom: 12px;">
            <div class="col-xs-12" style="min-height: 120px;">

              <h3 style="margin-top: 12px;"><a href="/article/{{a_article.id}}" style="color: #3d4450;" target="_blank">{{a_article.title}}{% if not a_article.is_original %}(转){% endif %}</a></h3>

              <div class="row">
                <div class="col-xs-12">
                  <ul class="list-inline">
                    <li>最后修改于: {{a_article.update_time}}</li>
                    {% if a_article.times >= 2000 %}
                    <li>阅读量: <span class="text-danger">{{a_article.times | intword}}</span></li>
                    {% else %}
                    <li>阅读量: {{a_article.times}}</li>
                    {% endif %}
                    <li>
                      <span class="glyphicon glyphicon-tag" style="top: 5px;"></span>
                      <span>
                      {% for category_name in a_article.category.all %}
                        <a href="/category/{{category_name.id}}/page/1">{{category_name}}</a>{% if not forloop.last %},{% endif %}
                      {% endfor %}
                      </span>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="digest" style="background-color: #f6f6f6; border-radius: 4px; overflow-y: auto;">
                <p style="padding: 6px 0 0 18px;">{{a_article.digest}}</p>
              </div>

            </div>
          </div>
          {% endfor %}

          <div class="row">
          {% block paginator %}
            <div class="col-xs-5">
            {% if article_list.has_previous %}
              {% ifequal article_list.previous_page_number 1 %}
              <a href="/" role="button" class="btn btn-info btn-lg btn-block">上一页</a>
              {% else %}
              <a href="/page/{{article_list.previous_page_number}}" role="button" class="btn btn-info btn-lg btn-block">上一页</a>
              {% endifequal %}
            {% else %}
              <a class="btn btn-default btn-lg btn-block" disabled="disabled"><span class="text-muted">上一页</span></a>
            {% endif %}
            </div>

            <div class="col-xs-2 center-block">
              <a class="btn btn-default btn-lg btn-block" disabled="disabled"><span class="text-muted">{{article_list.number}}</span></a>
            </div>

            <div class="col-xs-5">
            {% if article_list.has_next %}
              <a href="/page/{{article_list.next_page_number}}" role="button" class="btn btn-info btn-lg btn-block">下一页</a>
            {% else %}
              <a class="btn btn-default btn-lg btn-block" disabled="disabled"><span class="text-muted">下一页</span></a>
            {% endif %}
            </div>
          {% endblock paginator %}
          </div>

        </div>

        <div id="main-right" class="col-xs-4">
          <div class="row">
            <div class="col-xs-offset-1 col-xs-10" style="min-height: 700px; background-color: #eee; border-radius: 4px;">
              <h3 style="border-bottom: 1px solid #d3d3d3; padding: 1px 0 6px 6px;">标签</h3>
              <ul style="padding-left: 35px">
              {% for an_category_name, an_category_id, count in category_all_list %}
                {% ifequal an_category_id current_category.id %}
                <li style="font-size: 20px; line-height: 30px;background-color: #e1e1e8"><a href="/category/{{an_category_id}}/page/1" style="color: #000;"><em>{{an_category_name}}（{{count}}）</em></a></li>
                {% else %}
                <li style="font-size: 20px; line-height: 30px;"><a href="/category/{{an_category_id}}/page/1" style="color: #666;"><em>{{an_category_name}}（{{count}}）</em></a></li>
                {% endifequal %}
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        
      </div>
      
    </div><!-- /.container-fluid -->
</div>
{% endblock main %}

<!--{ % block cssjs2 %}-->
<!--<script src="{ % static 'js/jquery.js' %}"></script>-->
<!--<script src="{ % static 'js/bootstrap.js' %}"></script>-->
<!--<script src="{ % static 'js/customed.js' %}"></script>-->
<!--{ % endblock cssjs2 %}-->
