{% extends "index.html" %}

          {% block paginator %}
            <div class="col-xs-5">
            {% if article_list.has_previous %}
              <a href="/category/{{current_category.id}}/page/{{article_list.previous_page_number}}" role="button" class="btn btn-info btn-lg btn-block">上一页</a>
            {% else %}
              <a class="btn btn-default btn-lg btn-block" disabled="disabled"><span class="text-muted">上一页</span></a>
            {% endif %}
            </div>

            <div class="col-xs-2 center-block">
              <a class="btn btn-default btn-lg btn-block" disabled="disabled"><span class="text-muted">{{article_list.number}}</span></a>
            </div>

            <div class="col-xs-5">
            {% if article_list.has_next %}
              <a href="/category/{{current_category.id}}/page/{{article_list.next_page_number}}" role="button" class="btn btn-info btn-lg btn-block">下一页</a>
            {% else %}
              <a class="btn btn-default btn-lg btn-block" disabled="disabled"><span class="text-muted">下一页</span></a>
            {% endif %}
            </div>
          {% endblock paginator %}
